.site-footer {
    flex-basis: 100%;
    background: #212429;
    color: #fff;
}

.site-footer p {
    text-align: center;
    padding: 1em;
}

.site-footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.site-footer .socials {
    display: flex;
}

.site-footer .socials li,
.site-footer .socials a {
    display: block;
}

.site-footer .socials li {
    padding: 0.5em 0.5em;
    font-size: 1.5em;
}

.site-footer .socials a span {
    display: none;
}

.site-footer a {
    color: #fff;
}
