.register-title {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    color: white;
}

.register-container {
    background: rgb(117, 107, 107, 0.8);
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin: 0 auto;
    border-radius: 15px;
    
}

.register-container .row {
    gap: 1em;
    color: white;
    display: flex;
    
}

.register-container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7em 5em;
    
}

.register-container .row input[type='text'],
.register-container .row input[type='password'] {
    border: none;
    padding: 0.3em;
    margin: 2px 0 5px 0;
}


.register-container .button {
    display: flex;
    justify-content: flex-end;
}

.register-container button {
    margin-top: 3em;
    font-size: 1em;
    padding: 0.3em;
    border-radius: 10px;
    color: white;
    background: rgb(10, 83, 10);
}

.register-container button:hover {
    background: rgb(101, 194, 101);
    color: white;
}

.col-input .col-field {
    background: white;
    border-radius: 5px;

}
