/* .catalogue-container {
    background: rgb(117, 107, 107, 0.8);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid red;
} */

/* img {
    display: blog;
    border: 2px solid red;
    margin-left: 25px;
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
} */

#all-exercises-page {
    background: rgb(117, 107, 107, 0.8);
    margin: 2em 20em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-exercises-page-title {
    flex-basis: 100%;
    text-align: center;
    color: antiquewhite;
    font-size: 2em;
}